body{
    background-color: bisque;
}

h1{

    border-style: dotted;
    color: green;
    text-align: center;
    border-color: black;
    border-width: 5px;
    width: 300px;
    background-color: pink;
}

ul{

    list-style: none;
}

a{
    text-decoration: none;
    color: black;
    text-align: center;
    text-wrap: nowrap;
    padding: 3px;
}

.box-center{
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}


.listing{
    display: inline-block;
    box-sizing: border-box;
    border-style: solid;
    background-color: pink;
    border-color: red;
    border-width: 2px;
    height: 25px;
    width: 200px;
    text-align:center;
    margin-right: 5px;
}

.margin-center{

    display: inline;
    padding-left: 130px;
    padding-right: 100px;
}